@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
a{
  color: #fff;
  text-decoration: none;
}
body{
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.navbar{
  font-family: "Exo 2", sans-serif;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  background-color: rgb(30, 1, 59);
  padding: 20px 40px;
  gap: 20px;
  
}
.hero{
  background-size: cover;
  background-position: center;
  background-color: rgb(33, 0, 36);
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.hero-content{
  color: #fff;
}
.introducao{
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  margin: 0;
}
.title{
font-family: "Exo 2", sans-serif;
font-size: 50px;
margin: 0;
  
}
.subtitle{
   font-family: "Oswald", sans-serif;
   font-size: 60px;
  margin: 0;
  color: rgb(113, 64, 163)
}
.arrow{
  position: fixed; 
    bottom: 20px;  
    left: 50%;     
    transform: translateX(-50%);
    font-size: 2rem; 
    color: #fff;
    cursor: pointer;
    z-index: 1000;  
    animation: bounce 2s infinite;
}
.about{
  background-image: url(imagens/fundo\ section2novo.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Exo 2", sans-serif;
  color: #fff;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.about h1{
  color: rgb(130, 6, 255);
  font-family: "Oswald", sans-serif;
}
.container{
  padding: 20px;
  background-color: transparent;
  border: 2px solid rgba(152, 151, 151, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  min-width: 90%;
  min-height: 500px;
}
.container p{
  justify-content: center;
  text-align: justify;
}
.presentation{
  max-width: 550px;
  min-height: 200px;
  text-align: justify;
}